<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>session04_20180201</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>dispatchtest</servlet-name>
    <servlet-class>sample12.dispatchtest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatchtest</servlet-name>
    <url-pattern>/dispatchtest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>includetest</servlet-name>
    <servlet-class>sample12.includetest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>includetest</servlet-name>
    <url-pattern>/includetest</url-pattern>
  </servlet-mapping>
</web-app>